<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<table>
    <tr>
        <th>Предметы</th>
        <th>Students for this subject</th>
    </tr>
    <th:block th:each="subject : ${subjects}">
        <tr>
            <td th:text="${subject.getTitle()}"></td>
            <td>
                <a th:text="'See all students for this subject'"
                   th:href="'/teacher/'+${teacher_id}+'/subject/'+${subject.getId()}+'/student'"></a>
            </td>
        </tr>
    </th:block>
</table>
<form method="post" name="subjectForm">
    <label>My new subject is</label>
    <select name="id">
        <option th:each="subject : ${allSubjects}"
                th:value="${subject.getId()}"
                th:text="${subject.getTitle()}"></option>
    </select>
    <input type="submit" value="Add subject"/>
</form>
<a href="/teacher">Back to teachers list</a>
</body>
</html>